
@akcolor_01: #02074a;
@akcolor_02: #fff;
@akcolor_03: #4fc0fa;
@akcolor_04: rgba(71,141,222,.5);
@akcolor_05: #36a2eb;
@akcolor_06: #ffcd56;
@akcolor_07: #ff6383;
@akcolor_08: #4BC0C0;
@akcolor_09: #6b6e99;
@akcolor_10: #b2b5dd;
@akcolor_11: #3f4371;
@shadow_01: inset 0 1px 18px 9px @akcolor_04;

canvas { width: 100%!important; height: 100%!important }
.box_bg { box-shadow: @shadow_01; background: url(./assets/pic_top_left.png) top left no-repeat, url(./assets/pic_top_right.png) top right no-repeat, url(./assets/pic_bottom_left.png) bottom left no-repeat, url(./assets/pic_bottom_right.png) bottom right no-repeat }
.box_title { font-size: 1em; color: @akcolor_02; border-left: .3em solid @akcolor_03; padding-left: 1em }
.dialog1 .weui-dialog { width: 40%; max-width: none }
.dialog2 .weui-dialog { width: 60%; max-width: none }
